@charset "utf-8";
header{
	position:relative;
	height:100px;
	border-bottom:3px solid #0D0277;
	background:url(../images/%E9%81%9B%E5%BC%AF%E5%9B%BE%E6%A0%87.png) no-repeat;
	background-size:140px 100px;
	background-position:320px;}
header .ul1{
	width:600px;
	position:relative;
	left:600px;
	top:20px;}
header .ul1 li{
	float:left;
	border-right:1px solid #000000;
	height:17px;
	text-align:center;
	line-height:17px;
}
header .ul1 li a{
	text-decoration:none;
	color: #696767;
	font-size:14px;
	margin: 0 20px;
	vertical-align:middle
	}
header .ul1 li:nth-of-type(4){
	border-right:none;
	}
header ul li a img{
	vertical-align:middle;
	width:20px;
	height:20px;
	position:relative;
	top:-3px
}
/* 设置文本框以及提交按钮 */
input{
	position:relative;
	left:600px;
	top:12px;
	height:20px;}
input[type=submit]{
	background:url(../images/%E6%94%BE%E5%A4%A7%E9%95%9C.png) no-repeat;
	background-size:14px 20px;
	background-position:4px;
	position:relative;
	top:17px;
	left:594px;
	width:28px;
	height:27px;
	border:1px solid #C1BEBE;
	border-radius:0 16px 16px 0;
	}
.ul2{
	position:relative;
	left:500px;
	top:45px;
	width:800px}
.ul2 a{
	font-size:14px;
	text-decoration:none;
	color: #383838;
	margin:0 20px;
	}
.ul1 li .a1{
	color:#F2A207}
.ul2 li{
	float:left;}
/* 身体部分  */
section{
	width:900px;
	margin:10px auto;
	position:relative;
	}
section>span>a{
	text-decoration:none;
	font-size:12px;
	color:#6D6B6B;
	position:relative;
	}
.div01 {
	position: relative;
	height: 160px;
	margin: 10px 0;
}
.div01 div:nth-of-type(1){
	background: url(../images/背景.png) no-repeat;
	height: 110px;
	background-size: 900px 110px;
}
.div01 div:nth-of-type(2){
	height: 106px;
	width: 106px;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 20px;
}
.div01>div>p{
	color: #ffffff;
	font-size: 16px;
	position: absolute;
	left: 130px;
	top: 80px;
}
.div01>div>img{
	width: 100px;
	height: 100px;
	margin: 3px 3px;
}
.div01>p{
	position: relative;
	left: 130px;
	top: 20px;
}
/* frame-1 */
.frame-1{
	height: 3000px;
	width: 620px;
	position: relative;
}
.frame-1>img{
	height: 350px;
	width: 620px;
}
/* 绿色导航 */
.frame-1>div>span{
	display: block;
	height: 30px;
	width:580px;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
	background: rgb(107,176,79);
	padding:0 20px; 
	position: relative;
	margin-top: 20px;
}
.frame-1>div>span a{
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 20px;
}
.frame-1>div>span>i{
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 100px;
}
.div02{
	width: 630px;
	height: 2900px;
}
.frame>img{
	width: 320px;
	height: 200px;
}
.frame{
	width: 590px;
	height: 400px;
	border: 1px solid rgb(216,217,217);
	padding: 20px 15px;
	position: relative;
}
.frame .first{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.first span img{
	height: 16px;
	width: 16px;
	vertical-align: middle;
}
.first span{
	margin: 0 5px;
	position: relative;
	left: 260px;
}
.first span{
	color: rgb(175,176,177);
	font-size: 12px;

}
/* frame second */
.div02 img{
	width: 320px;
	height:200px ;
}
.second{
	height: 200px;
	width: 250px;
	position: absolute;
	right: 20px;
	top: 60px;
	border-top: 1px solid rgb(208, 209,209);
	border-bottom: 1px solid rgb(208, 209,209);
}
.second p i{
	font-weight: bold;
	font-size: 14px;
}
.second p{
	color:rgb(79,80,81);
	font-size:14px;
	margin: 15px 0;
	height: 30px;
	line-height: 18px;
}
.second del{
	font-size: 14px;
	color: rgb(123,123,124)
}
.second div{
	font-size: 14px;
	color: rgb(123,123,124);
}
.second div span{
	color:rgb(185,20,6);
	font-size: 30px;
}
.second>a{
	text-decoration: none;
	display:block;
	height: 30px;
	width:100px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	background: rgb(242,163,58);
	border-radius: 8px;
	color: #fff;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.three{
	position: relative;
}
.three>img{
	height: 32px;
	width: 32px;
	margin-top: 10px;
}
.ul-1 li img{
	height: 18px;
	width: 28px;
	vertical-align: middle;
}
.three .ul-1{
	position: absolute;
	top: 5px;
	left: 20px;
	list-style-type: disc;
}
.three .ul-1 li{
	color: rgb(131,132,133);
	float: left;
	margin-top: 12px;
	margin-left: 42px;
	background: #fff;
}
.ul-1 li a{
	color: rgb(131,132,133);
	text-decoration: none;
}
.ul-2>li{
	float: left;
}
.ul-2 ul{
	position: relative;;
	left:40px;
	margin-top: 10px;
}
.ul-2 ul>li{
	color: rgb(141,142,143);
	font-size: 12px;
	margin: 10px;
}
/* frame中第二板块  */
.div2-1{
	background-color:#05F30A;
	height:30px;
	color:#FFFFFF;
	line-height:30px;
	padding-left:20px;}
.div2-2{
	height:300px;
	border:1px solid #B4B1B1;
	margin-top:20px;
	padding:20px 20px;
	position:relative}
#new2-2{
	background-color: #F1EEEE;
	}
.div2-2 p{
	color: #082690;
	font-weight:bold;
	font-size:15px}
.div2-2 div{
	margin-left:6px;
	color: #082690;
	font-size:14px
	}
.div2-2 span{
	display: inline-block;
	margin-top:20px;
	margin-left:6px;
	font-size:14px;
	color: #5E5C5C;}
.span1{
	color:#000000}
.span2{
	color:#FA0004}
.div2-2>img{
	height:120px;
	width:160px;
	margin:14px 6px;}
.div2-2>div>img{
	width:40px;
	height:40px;
	border-radius:40px;}
.div2-2>ul>li{
	float:left;
	margin:0 20px;}
.div2-2>i{
	position:relative;
	left:80px;
	top:-30px;
	font-size:14px}
.div2-2>ul>li>a>img{
	width:20px;
	height:20px;
	vertical-align:middle}
.div2-2>ul>li>a{
	text-decoration:none;
	color:#838282;
	}
.div2-2>ul{
	position:absolute;
	bottom:25px;
	left:200px}
/* frame第三板块 图片 */
#ul-1 li{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
#ul-1{
	height: 330px;
	width: 620px;
}
#ul-1 li img{
	height: 150px;
	width: 186px;
}
/* frame第四板块 */
#div2-2{
	height: 980px;
	margin-top: 20px;
}
#div2-2>p{
	background:rgb(107, 176, 79);
	height: 30px;
	padding-left: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
#div2-2 .div2-2-1{
	height: 150px;
	position: relative;
	margin: 20px 0;
	padding-left: 20px;
}
#div2-2 .div2-2-1 img{
	height: 50px;
	width: 50px;
}
.div2-2-1 span{
	position: absolute;
	top: 70px;
	left: 20px;
	font-size: 13px;
}
.div2-2-1>div{
	height: 80px;
	width: 530px;
	position: absolute;
	top: 0;
	right: 0px;
	border: 1px solid rgb(203, 203, 204);
	text-align: center;
}
.div2-2-1>div>p{
	font-size: 12px;
	color: rgb(151, 152, 153);
	margin-top: 20px;
	margin-bottom: 10px;
}
.div2-2-1>div>a{
	color: rgb(244, 195, 135);
	font-size: 12px;
}
.div2-2-1>p,.new2>p{
	color: rgb(161, 162, 163);
	font-size:12px;
	text-align: right;
	position: relative;
	top: 40px;
}
.div2-2-1>a{
	display:inline-block;
	color:#fff;
	height: 20px;
	width: 70px;
	background-color: rgb(110,180,241);
	font-size: 14px;
	font-weight: bold;
	position: relative;
	left: 530px;
	top: 50px;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
}
.div2-2-2{
	position: relative;
	height: 450px;
}
#div2-2 .div2-2-2>img{
	height: 50px;
	width: 50px;
	margin-left: 20px;
}
.div2-2-2>span{
	position: absolute;
	top: 70px;
	left: 20px;
	font-size: 13px;
}
.div2-2-2>div{
	height:120px;
	width: 530px;
	position: absolute;
	top: 0;
	right: 0px;
}
.div2-2-2>div>p{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(133, 134, 135);
	margin-bottom: 35px;
}
.new1{
	height: 25px;
	border-top: 1px dashed rgb(180, 180,181);
	border-bottom: 1px dashed rgb(180, 180,181);
	line-height: 25px;
}
.new1>a>img{
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin: 0 3px;
}
.new1 span{
	color: rgb(149,150,151);
	font-size: 14px;
	margin-right: 230px;
}
.new1 a{
	text-decoration: none;
	color: rgb(149,150,151);
	font-size: 14px;
	margin: 0 5px;
}
.new1>a:nth-of-type(3){
	color: rgb(59, 90, 117);
	margin-left: 20px;
	margin-right: 0px;
}
.new2{
	position: relative;
	height: 110px;

}
.new2>img{
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.new2>span{
	position: absolute;
	top: 75px;
	left: 0;
	font-size: 13px;
}
.new2>div{
	width: 460px;
	position: absolute;
	top: 20px;
	right: 0px;
}
.new2>div>p:nth-of-type(1){
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.new2>div>p:nth-of-type(2){
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(133, 134, 135);
	margin-bottom: 25px;
}
.new2>div>span{
	font-size: 14px;
	color: rgb(149,150,151);
}
.new2>div>span>a{
	font-size: 14px;
	color: rgb(60,118,183);
	text-decoration: none;
	margin-left: 15px;
}
textarea{
	position: relative;
	top: 20px;
	left: -3px;
}
.new2>p{
	color: rgb(161, 162, 163);
	font-size:12px;
	text-align: right;
	position: relative;
	top: 25px;
}
.new2>a{
	display: inline-block;
	color:#fff;
	height: 20px;
	width: 70px;
	background-color: rgb(110,180,241);
	font-size: 14px;
	font-weight: bold;
	position: relative;
	left: 460px;
	top: 35px;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
}
.div2-2-3{
	position: relative;
	height: 100px;
}
.div2-2-3>div{
	height:100px;
	width: 530px;
	position: absolute;
	top: 0;
	right: 0px;
}
#div2-2 .div2-2-3>img{
	height: 50px;
	width: 50px;
	margin-left: 20px;
}
.div2-2-3>span{
	position: absolute;
	top: 70px;
	left: 20px;
	font-size: 13px;
}
.div2-2-3>div>p{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(133, 134, 135);
	margin-bottom: 35px;
}
/* 页码设置 */
section #div2-2 ul{
	height:100px;
	position:relative;
	top:20px;
	left:160px}
section #div2-2 ul>li{
	height:20px;
	float:left;
	margin:0 5px;}
section #div2-2 ul>li:nth-of-type(3){
	height:20px;
	line-height:10px}
section #div2-2 ul>li:nth-of-type(7){
	height:20px;
	line-height:10px}
section #div2-2 ul>li:nth-of-type(5){
	height:16px;
	width:24px;
	background-color: #605F5F;
	line-height:10px;
	text-align:center;
	line-height:16px}
section #div2-2 .li3{
	color:#FFFFFF;
	}
section #div2-2 ul li a{
	text-decoration:none;
	color: #555555;
	font-size:14px;}
section #div2-2 hr{
	width:620px;
	position:relative;
	top:-40px;
}
/* frame-2 */
.frame-2{
	height: 600px;
	width: 250px;
	position: absolute;
	top: 196px;
	right: 0px;
}
.frame-2>ul li{
	width: 230px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	padding: 0px 10px;
	font-size: 14px;
	background: rgb(109,179, 240);
	margin-bottom: 20px;
}
.frame-2>ul li span{
	font-size: 10px;

}
.frame-2>img{
	width:250px;
	height:350px}
.frame-2>img:nth-of-type(1){
	position:absolute;
	right:0;
	top:160px;
	}
.frame-2>img:nth-of-type(2){
	position:absolute;
	right:0;
	top:540px;
	}
.span01{
	width:150px;
	height:30px;
	position:absolute;
	right:50px;
	top:380px;
	background:#000000;
	opacity:0.5;
	color:#FFFFFF;
	line-height:30px;
	text-align:center;}
.span02{
	width:150px;
	height:30px;
	position:absolute;
	right:50px;
	top:760px;
	background:#000000;
	opacity:0.5;
	color:#FFFFFF;
	line-height:30px;
	text-align:center;}
/* 尾部设置 */
footer{
	height:200px;
	background-color: #043741;
	position:relative;
	top: 350px;
	}
footer ul{
	float:left;
	height:160px;
	width:100px;
	margin:0 20px;
	position:relative;
	left:300px}
footer ul li{
	margin:10px 0;
	 }
footer ul li a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;}
.f-li{
	font-size:18px}
#ul1 li{
	color:#fff;
	font-size:12px;
	width:120px;}
#ul1 li:nth-of-type(1){
	font-size:20px;
	font-weight:bold;
	}
#ul1 li a{
	display:block;
	height:20px;
	width:120px;
	line-height:20px;
	color:#043741;
	background-color:#FFFFFF;
	border-radius:5px;
	text-align:center;
	margin-top:5px
	}
footer ul img{
	width:30px;
	height:30px}
footer hr{
	position:absolute;
	top:160px;
	width:100%;
	}
footer p{
	color:#FFFFFF;
	font-size:14px;
	position:absolute;
	bottom:10px;
	left:500px;}